
.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-variation-settings:'width' 100;
  font-style: normal;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.nav title{
    font-weight: 800;
    font-size:45px;
    color:FD6E0A;
}
.text-primary{
    color:#FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    margin-right: 20px;

}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color:wheat;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    

}

/*banner-style*/


.banner{
    display:flex;
    justify-content: space-around;
    margin: 0 35px 0 200px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;

}
.banner-profile-pic{
    width:580px;
}

.banner-content{
    max-width:580;
}
 .header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position:top left,bottom right;
 }

 /*About Me style*/

 .text-center{
    text-align: center;
}
 .section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;

 }
 .Section-description{

    font-size: 18px;
    color:#181818
 }
 .about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
 }

 .secondary-bg{
    background-color: #FFF8F3;

 }
 main{
    max-width: 1140px;
    margin:0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
 }
 .items-container{
    display: flex;
    gap: 20px;
 }

 .about-items{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
 }

 .item-description{
    font-weight: 600;
    margin-bottom: 40px;
 }

 /*Skills section styl*/


 .skills-container{
    display: flex;
    gap: 24px;
    border-radius: 5px;
    
    

    
 }

 .skills{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-bottom: 50px;
    margin-top: 130px;

 }

 /*resume section tyle*/

 .resume-container{
    display: flex;
    gap: 30px;
 }
 .experience-description, .experience-sub-title{
    color: #757575;
    margin-bottom: 20px;
 }

 .experience-description{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
 }

 resume hr{
    margin:30px;

 }

 .resume-download-cv{
    margin-top: 50px;
 }

 .Section-title{
    margin-top: 114px;
 }

 resume-container{
    margin-top: 50px;
 }

 /*footer Style*/
 footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
 }

 .footer-column{
    width: 50%;
 }
 footer input[type="name"],  footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

 


